html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, fieldset, form, label, legend, caption, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, #header, hgroup, nav, section { display: block; }

body { 
  line-height: 1.5;
}

header {
  padding: 0 20px;
  border-bottom: #e6e6e6 solid 2px;
  margin-bottom:  40px;
  margin-top: 0px;
  vertical-align: left;
  position: relative;
  display: block;
  height: 80px;
  width: 100%;
}

nav {
  text-align: right;
  float: right;
}

nav select {
  display: none;
  float: left;
  margin-top: 50px;
  margin-left: 0px;
  font-size: 1.2em;
}

nav ul {
  padding-left: 0;
  padding-top:40px;
}

#logo {
  width: 200px;
}

div.wrapper {
  padding-left: 20px;
  float: left;
  width: 100%;
}

nav li {
  display:inline-block;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 5px 8px 0 10px;
  font-size: 1.2em;
}

nav a.active {
  font-weight: bold;
  color: #4D4D4D;
  border-bottom: solid;
  border-color: white;
  border-width: 10px;
  border-top: 2px solid #e6e6e6;
  border-radius: 10px 10px 0 0;
}

nav a:hover {
  color:#56a0ab;
}
/*navigation for the blind, blend this into the background*/

nav li.dead_link:hover{
 color: #AAAAAA;
}

.First, .Second {
  float: left;
  min-width: 280px;
  max-width: 470px;
  margin-bottom: 10px;
  height: 100%;
}

.First {
  margin-right: 60px;
}

section article header {
  padding-left: 0;
  border-bottom: none;
}

table.news {
  width: 100%;
  margin-top: 20px;
}

table.news h2 {
  line-height: 1.2em;
  color: #693;
}

table.news td {
  vertical-align: top;
  padding-bottom: 40px;
}

table.news th {
  width: 80px;
  text-align: left;
  font-weight: bold;
  padding: 0;
  vertical-align: top;
}

table.news th p {
  font-size: 2em;
  color: #6D6E71;
  margin-top: -10px;
}

table.news td h4 {
  font: bold;
  font: 1.1em;
  vertical-align: top;
}

table.event td {
  padding-bottom: 3px;
  color: #56A0AB;
}

table.event {
  padding-bottom: 10px;
}

table.featured {
  min-width: 450px;
  margin: 20px 15px;
  max-width: 100%;
}

table.featured td {
  vertical-align: top;
  padding-bottom: 10px;
}

table.featured a {
  vertical-align: top;
}

table.featured td a.NewFeature {
  color: #81B33C;
  font-weight: bold;
  vertical-align: top;
}

table.featured a.date {
  color: #333333;
  font-weight: bold;
  vertical-align: top;
}

table.featured th {
  width: 80px;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
}

table.featured th p {
  font-size: 2em;
  color: #6D6E71;
  margin-top: -5px;
  vertical-align: top;
}

article.spotlight h1 {
  font: bold;
  color #693;
  font: 1.1em;

}
article.spotlight .date {
  color: #333333;
  font-weight: bold;
}

article.spotlight {
    padding: 10px 0 0 15px;
    margin-bottom: 65px;
}

p.spotlight {
  margin: 10px 0 10px 0px;
}

html,body{
  font-family:myriad, sans-serif;
  font-size: 14px;
  padding:0;
  border: 0;
  background: #fff;
  width: 1024px;
}

#video_1 img {
  margin: 45px 0 20px 0;
  width: 100%;  
}

#video {
  padding-left: 50px;
}

.dl {
  max-width: 114px;
  height: 122px;
}

.ss {
  max-width: 244px;
  height: 212px;
}
#logo {
  float: left;
  margin-top:  0;
  background-color: white;
}

.cert {
  position: absolute;
  left: 210px;
  top: 22px;
  width: 60px;
}

div.cert:hover {
  width: 100px;
}

.faq_title {
  padding-left:  25px;
}

.FAQ h2, .Second h2 {
  text-decoration: none;
}

.FAQ li {
  list-style-type: none;
  margin-bottom: 20px;
  margin-left:  100px;
}

ul.FAQ p {
  list-style-type: none;
  font-size: 100%;
}

h1 {
  color: #4d4d4d;
  font-size: 1.8em;
  margin-bottom: 20px;
}

article h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  color: black;
}

.Second h3{
  font-size: 1.2em;
  color:  white;
  font-weight: bold;
}

h4 {
  color:  #669933;
  font: bold;
  font-size: 1.5em;
  padding: 10px 0;
}

a {
  color: #79AEB8;
  font: bold;
}

a:hover {
  color: #668F96;
}

img {
    border-style: none
}

figure {  
  float: left;
  width: 470px;
  margin-bottom: 20px;
  height: 100%;
  padding: 20px 0 0 0;

}

figure img {
  max-width: 380px;
  max-height: 273px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #4d4d4d;
  webkit-box-shadow: 0 0 4px #4d4d4d;
  moz-box-shadow: 0 0 4px #4d4d4d;
  ms-box-shadow: 0 0 4px #4d4d4d;
}

figcaption {
  width: 380px;
}

.secondColumn {
  margin-right: 60px;
}

section.border { 
}

article.main {
  padding: 0;
}

article.feature {
  text-decoration: none;
  padding: 0 15px; 
  margin-bottom: 12px; 
}

article.feature p{
  font-size: 1em;
  text-align: left;
  text-decoration: none;
  margin-top: 20px;
}

#objectives {
  text-align:left;
}

article li {
  text-decoration: none;
  margin: 0 0;
}


#devsection img.bottom {
  margin-top: 11px;
}


/**content**/

#builder {
  margin: 0px 20px 0 0;
}

#dashboard {
  margin: 0 20px 0 0;
}


.borders {
  width: 100%;
  height: 25px;
}

.bottom {
  margin-top: 3px;
}

#News {
  margin-left:  20px;
  margin-right:  20px;
  margin-bottom: 800px;
}

#About {
  margin-left:  20px;
  margin-right:  20px;
}

.Headlines & News {
  font:  #800000;
}

#sidebar_1 h3{
  font-style: bold;
}

#sidebar_1 {
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#79AEB8), to(#56A0AA));
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#79AEB8), to(#56A0AA));
  background-image: -webkit-gradient(linear, 0 0, 0 20%, from(#79AEB8), to(#56A0AA));
  background-image: -webkit-linear-gradient(#79AEB8, #56A0AA);
  background-image: -moz-linear-gradient(top, #79AEB8, #56A0AA);
  background-image: -o-linear-gradient(#79AEB8, #56A0AA);
  background-image: linear-gradient(#79AEB8, #56A0AA);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#79AEB8', endColorstr='#56A0AA');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#79AEB8', endColorstr='#56A0AA')";
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#79AEB8), to(#56A0AA));
  padding:  0 5px 5px 10px;
  height: 20px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; 
  -webkit-border-radius: 10px 10px 0 0;
  border: 3px solid #56A0AB;
  font-style: bold;
}

#sidebar_2 {
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#B0CB86), to(#81B33C));
  background-image: -webkit-gradient(linear, 0 0, 0 20%, from(#B0CB86), to(#81B33C));
  background-image: -webkit-linear-gradient(#B0CB86, #81B33C);
  background-image: -moz-linear-gradient(top, #B0CB86, #81B33C);
  background-image: -o-linear-gradient(#B0CB86, #81B33C);
  background-image: linear-gradient(#B0CB86, #81B33C);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#B0CB86', endColorstr='#81B33C');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0CB86', endColorstr='#81B33C')";
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#B0CB86), to(#81B33C));
  font-size:  1.1em;
  padding:  0 0 5px 10px;
  max-width:  100%;
  margin-top:  20px;
    height:  20px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; 
  -webkit-border-radius: 10px 10px 0 0;
  border: 3px solid #81B33C;
}

#sidebar_3 {
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#ccc), to(#999));
  background-image: -webkit-gradient(linear, 0 0, 0 20%, from(#ccc), to(#999));
  background-image: -webkit-linear-gradient(#ccc, #999);
  background-image: -moz-linear-gradient(top, #ccc, #999);
  background-image: -o-linear-gradient(#ccc, #999);
  background-image: linear-gradient(#ccc, #999);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ccc', endColorstr='#999');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999')";
  background:  -webkit-gradient(linear, left top, left bottom, 
        from(#ccc), to(#999));
  font-size:  1.1em;
  padding:  0 5px 5px 10px;
  width:  459px;
  margin-top:  20px;
    height:  20px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; 
  -webkit-border-radius: 10px 10px 0 0;
  border: 3px solid #999;
}

#feedbackLink {
}

#feedback {
  margin: 20px 0 0 0;
}

img.announce {
  padding-top: 5px;
  margin-left: 70px;
}

#SourceForgeLogo{
  width:88px;
  height:31px;
}

article.feature {
  border-radius: 10px;
  background-color: white;
  padding: 10px 15px;
  margin: -10px 0;
}

article.bordered {
  border-radius: 10px;
  background-color: white;
  padding: 10px 15px;
}

section#faq_articles article {
  margin-bottom: 10px;
}
.top_border {
  background-image: images/top_border.png;
  background-color: #CCC;
  padding:  0 5px 5px 10px;
  height: 20px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; 
  -webkit-border-radius: 10px 10px 0 0;
  font-style: bold;
  margin-bottom: -10px;
}

.bottom {
  border-radius: 0 0  10px 10px;
  -moz-border-radius: 0 0 10px 10px; 
  -webkit-border-radius: 0 0 10px 10px;
  background-color: white;
  margin-top: -25px;
  margin-bottom: 25px;
  height: 10px;
}

.bottom_border {
  background-image: images/top_border.png;
  background-color: #CCC;
  padding:  0 5px 5px 10px;
  height: 20px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px; 
  -webkit-border-radius: 0 0 10px 10px;
}

article.feature ul{
  font-size: 1em;
  font-weight: regular;
  text-decoration: none;
}

article.FAQ p {
  padding: 5px 0;
}

.bumper{
  font-size: 1.5em;
}

#feedback{
  margin-top: 50px;
  display:block;
}

#feedback a{
  font-weight: regular;
  /*color:#000000;*/
}

#feedback a:hover{
  text-decoration: underline;
}

.faqHeader {
  padding-left:  15px;
  text-decoration: none;  
}
.faqHeader li {
  text-decoration: none; 
}


.feature{
  text-align: left;
  font-size: 1em;
}

.coming_soon{
  color:gray;
}

article ul {
  margin-top: 10px;
  text-decoration: none;
}

/** Announcement Subscription**/
table.announcementSubscription{
  width: 100%;
}

table.announcementSubscription td.inputLabel{
  background-color: #dddddd;
  width: 150px;
}

table.announcementSubscription input{
  width: 250px;
}

table.announcementSubscription input#emailDigest{
  width:auto;
  margin-left:0px;
}

.submitEmailSubscription{
  margin-left:220px;
}

fieldset{
  border: none;
}

#announcements {
  float: right;
  margin: 0 0 0 0;
  width:      0px;
}

#sidebar tr:hover {
  background:#f9f9f9;
}

.milestoneDate {
  width: 80px;
  color:#666;
}

.milestoneSubject {
  padding: 0 0 0 20px;
}

.milestonesList td{
  border-bottom: 1px  solid #666;
}
th{
  text-align:left;
  font:  red;
}

/* * Content * */

#logoDiv{
  float: left;
  display:block;
  width: 100%;
}

#content,
#splitContent,
#aboutContent,

#splitContent,
#aboutContent {
  float:left;
  width:600px;
}

#updates{
  float: right;
}

.term {
  border-top:1px solid #ccc;
  padding-top:10px;
  padding-bottom:10px;
  font-weight: bold;
}

.definition {
  font-weight: bold;
  padding-top:10px;
  padding-bottom:5px;
  margin-bottom: 20px;
}

#l32_docs{
  padding-left:0px;
}

.mailinglist p{
  margin-top:0px;
  padding-top:10px;
  padding-bottom:5px;
}

.installationStep {
  padding-top:5px;
  padding-bottom:5px;
}

.firstInstallationStep {
  border-top:0px
}

footer {
  color:#999999;
  padding:20px 0px 20px 0;
  clear:both;
  width: 1000px;
  margin: 20px;
}

.indexfooter {
  margin-top: 150px;
}

footer a {
  color:#000;
}

footer a:hover {
  color:#56a0ab;
}

#footerLicense{
  float:left;
  width: 500px;
}

#footerSourceForge{
  float:left;
  width: 50px;
}

#footerLinks{
  font-size: 12px;
  float:left;
  margin-left:  25px;
}

a.feedBurner {
  background:url(../images/feedicon.gif) no-repeat 0 100%;
  padding:1px 20px 0 20px;
}

a.feedBurner:hover {
  background:url(../images/feedicon.gif) no-repeat;
}

.main h4 {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

article.main section {
  margin: 20px 0;
}

table td p {
  font-weight: normal;
  font-size: 1em;
  color: black;
}

section h1 {
  color:  #669933;
  font: bold;
  font-size: 1.5em;
  margin-left: 15px;
}
article h2 {
  font-size: 1.0em;
  font-weight: bold;
  color: black;
}
article h1 {
  margin-left: 0;
}

#parti {
  width: 100%;
  float: left;
  margin-left: 20px;
}

#parti h2 {
  color: #669933;
  padding-left: 45px;
  margin-top: -10px;
  border-bottom: 1px solid #ccc;
}


#nextparti{
  margin-left: 200px; 
  margin-left: 540px;
  width: 100%;
}

#nextparti h2 {
  color: #56A0AA;
  padding-left: 45px;
  margin-top: -10px;
  border-bottom: 1px solid #ccc;
}

#devsection, #prosection {
  margin-bottom: 10px;
}

#nextparti p, #parti p {
  padding-left: 30px;
}

article.ParticipantDetail {
  margin-left: 30px;
  margin-top: 10px;
}

p.ParticipantIndent {
  margin-left: 20px;
  margin-bottom: .5em;
}


ul.spotlight {
  list-style: none;
  padding-left: 40px;
  margin-bottom: 1em;
}

li.spotlight span{
}
 
li.spotlight span:before{
}

img#gm_logo {
  margin-left: 20px;
}

@media (max-width: 960px) {
  nav ul      {display: none;}
  nav select  {display: inline-block;}
  header      {height: 20%;}
  .wrapper    {width: 100%;}

  nav select {
    float: right;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 290px;
  }
  figcaption {
    display: block;
  }
  header {
    width: 100%;
    height: 100px;
  }
  nav {
    margin-top: 60px;
  }
  iframe {
    width: 100%;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body        { width: 320px;}
  header      {max-width: 460px;}
  .wrapper    {max-width: 460px;}
  footer      {max-width: 460px;}
  
}

@media only screen
and (max-width : 320px) {
  html, body  { width: 320px;}
  header, .wrapper, footer {
    max-width: 100%;
  }
  header {
    height: 145px;
  }

  .wrapper {
    margin: 0;
    padding:0;
  }

  #logo {
    zoom: 1.5;
    width: 100%;
    margin: 0;
  }

  nav {
    margin: 0;
    width:100%;
  }

  nav select {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 100%;
  }
  section {
    max-width: 100%;
    margin-right:0;
    margin-bottom: 10px;
  }

  article {
    padding: 10px 10px;
    max-width: 100%;
  }
  article.feature p{
    margin: 0;
    padding: 5px 0;
  }

  .Second, .First {
    float: none;
    width: 100%
  } 

  .First    {
    margin-right:0;
  }

  .Second h3{
    font-size: 1em;
    color:  white;
    font-weight: bold;
    width: 100%;
  }

  #sidebar_2 {
    max-width: 100%;
  }
  article h4 {
    padding: 0;
  }
  article img.dl {
    float:left;
    padding-right: 15px;
    padding-top: 5px;
  }

  p { 
    margin-bottom: 5px;
    max-width:300px;
  }

  h1.heading {
    display: none;
  }

  h2 { 
    font-size: 1.1em;
    margin-left: 15px;
  }

  .bordered h2 {
    margin-left: 0;
  }

  td h2 {
    margin-left: 0;
    font-size: 1.2em;
  }

  th {
    margin-left: 15px;
  }

  figure {  
    float: none;
    max-width: 100%;
    padding: 10px 10px 0 10px;
  }

  figure img, img  {
    max-width: 280px;
  }

  figcaption {
    max-width: 280px;
  }

  .top {
    border-top: 10px solid white;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0;
    height: 5px;
    background-color:white;
    max-width: 100%;
  }

  .top_border_full {
    background-color: #CCC;
    padding:  0 5px 5px 10px;
    height: 20px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0;
    font-style: bold;
    margin-bottom: -10px;
    max-width: 100%;
  }

  .bottom_border_full {
    background-color: #CCC;
    padding:  0 5px 5px 10px;
    height: 20px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px;
    max-width: 100%;
  }

  .bottom_border {
    background-color: #CCC;
    max-width: 100%;
  }

  .bottom {
    background-color: white;
    margin-top: -26px;
    margin-bottom: 25px;
    max-width: 100%;
  }

  h4 {
    font-size: 1.2em;
    margin-top: -10px;
    padding-right:0;
  }

  #video_1 img, iframe{
    max-width: 100%;
    margin: 10px 0;
  }

  iframe {
    height: 180px;
  }


  #faq_topics {
    zoom: 1.2;
  }

  #footerLinks {
    float: left;
    padding-left: 10px;
    width: 205px;
  } 
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
  body        {
    min-width: 768px; 
    margin: 0;
  }

  header      {
    width: 100%;
  }

  .wrapper    {
    width: 100%;
  }

  footer      {
    width: 100%;
  }

  #logo {
    zoom: 1.3;
    width: 50%;
    margin: 0;
    float: left;
  }
  header {
    height: 100px;
    margin-bottom: 50px;
    width: 100%;
  }
  #video_1 img{
    padding:15px;
    margin: 0;
    width: 95%;
  }
  nav select {
    float: right;
    font-size: 1.2em;
    width: 300px;
    margin-top: 0;
  }
  #sidebar_1, #sidebar_2 {
    margin-top: 0px;
  }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

  .Second, .First {
    min-width: 280px;
    height: 100%;
    zoom: 1.05;
  }
  .Second   {
    float: right;
  }
  .First    {
    float: left;
    margin-right: 30px;
    float: left;
  }
  nav {
    float: right;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  html, body  { width: 320px;}
  header, .wrapper, footer {
    max-width: 768px;
  }
  .wrapper    {
    max-width: 768px; 
    margin-right:0;
  }
  .First, .Second {
    float: left;
    max-width: 768px;
    margin-bottom: 20px;
    height: 100%;
  }
  .First    {
    float: none;width: 768px; 
  }
  .Second   {
    float: none;width: 100%; margin-left: 0;
  }
  .featured, h2 {
    width: 768px;
  }
  figure img {
    zoom: 2;
  }


  table.news {
    max-width: 768px; 
  }

  table.news td, table.news h2 {
    max-width: 690px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}